.main{
    display: flex;
    width: 100%;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    padding: 20px;
    box-sizing: border-box;

    font-family: var(--font-geist-sans), sans-serif;
}

.form{

    padding: 20px;
    background-color: white;
    border: 2px solid var(--primary-brand-color);

    

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form label{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.form input{

    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    border: none;
    margin-top: 5px;
    padding: 5px;

    border-bottom: 2px solid var(--primary-brand-color);
}

.form input:focus{
    outline: none;
}

.postButton{

    padding: 5px;
    background-color: var(--primary-brand-color);
    font-size: 1.2rem;
    border: none;

    font-weight: bold;
    color: white;

    border-radius: 5px;

    transition: 0.2s;

}

.postButton:hover{

    cursor: pointer;
    background-color: rgb(231, 231, 231);

}

.registro{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.error{
    color: red;
    margin: 0;
}

@media (min-width:320px)  { 
    .container{
        width: 100%;
    }
  }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  { 
    .container{
        width: 500px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }