body{
  height: 100dvh;
  background-color: white;
}

.main{
  height: calc(80dvh - 100px);
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

}



.page{
  height: max-content;
}

.buttonContainer{

  z-index: -1;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.botonGeneral{
  padding: 20px;
  border-radius: 10px;
}

.buttonContainer .login{
  
  color: white;
  font-weight: bold;
  background-color: var(--primary-brand-color);
  border: 1px solid var(--primary-darker);

  transition: .2s;

}

.buttonContainer .login:hover{

  background-color: white;
  color: var(--primary-brand-color);

  -webkit-box-shadow: 0px 0px 50px 0px rgba(240, 126, 93, 1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(240, 126, 93, 1);
  box-shadow: 0px 0px 50px 0px rgba(240, 126, 93, 1);

  cursor: pointer;
}

.buttonContainer .register{

  background-color: var(--secondary-brand-color);
  border: 1px solid var(--secondary-darker);
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;

  transition: .2s;
}

.buttonContainer .register:hover{
  background-color: white;
  color: var(--secondary-brand-color);

  -webkit-box-shadow: 0px 0px 50px 0px rgb(0, 182, 160, 1);
  -moz-box-shadow: 0px 0px 50px 0px rgb(0, 182, 160, 1);
  box-shadow: 0px 0px 50px 0px rgb(0, 182, 160, 1);

}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  { 
  .main h1{
    font-size: 1.5rem;
    padding-inline: 0;
    text-align: center;
  }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:801px)  { 
  .main h1{
    font-size: 3.5rem;
    padding-inline: 300px;
    text-align: center;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }