@keyframes ghostAnimation {
  0% {
      opacity: 0.2;
  } 50% {
      opacity: 0.5;
  } 100% {
      opacity: 0.2;
  }
}

@keyframes clic {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

/* MAIN CONTENIDO */

/* SECCION HERO */


.heroSection{
  display: flex;
  min-height: 60dvh;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.heroSection .heroContent{
  width: 50%;
}

.heroSection .heroContent h1{
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

.heroSection .heroContent p{
  font-size: 1.2rem;
  text-wrap: pretty;
  padding-inline: 20px;
  text-align: center;
}

.heroSection .heroImage{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection .heroImage img{
  width: 100%;
}


/* CONTENIDO */

.content{
  padding: 20px;
  width: calc(100dvw - var(--asideBoxWidth));
  box-sizing: border-box;
  background-image: linear-gradient(to top, #f17e5d ,#ff5f32 , #f17e5d);
  color: white;
  margin-bottom: 20px;
}


/* ACTIVIDADES */

.actividades{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.actividades .actividad{
  width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;

  gap: 20px;

  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;

  transition: 0.2s;

}

.actividades .actividad:hover{
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.7);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.7);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.7);
}

.actividades .actividad h3{
  margin: 0;
}

.actividades .actividad p{
  margin: 0;
}

.actividades .actividad .imageContainer{
  border: 1px solid rgb(214, 214, 214);
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  object-fit: contain;
  border-radius: 5px;
}

.actividades .actividad .imageContainer img{
  border-radius: 5px;
  width: 100%;
}

.actividades .actividad .info{
  padding: 10px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 5px;

  transition: .2s;

  flex-direction: column;
}

.actividades .actividad .info:hover{
  cursor: pointer;
  color: white;
  background-color: #f17e5d;
}

.actividades .ghostActividad{
  background-color: white;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 20px;

  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

.actividades .ghostActividad .ghostImagen{
  width: 100%;
  height: 70%;
}

.actividades .ghostActividad .ghostInfo{
  margin-top: auto;
  height: 30%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 5px;

  transition: .2s;

  flex-direction: column;
}

.actividades .ghostActividad .ghostInfo .ghostTitle{ 
  width: 100%;
  height: 30%;
}

.actividades .ghostActividad .ghostInfo .ghostText{
  width: 100%;
  height: 70%;
}

.ghostImagen, .ghostText, .ghostTitle{
  border-radius: 5px;
  background-color: rgb(196, 196, 196);
  animation: ghostAnimation 2s ease-in-out infinite;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  { 

  .main{
    width: 100%;
    border: none;
  }

  .heroSection .heroContent{
    width: 100%;
  }

  .heroSection .heroImage{
    display: none;
  }

  .main aside{
      display: none;
  }

  .content{
      width: 100%;
  }

  .content h1{
      font-size: 1.8rem;
      margin-top: 0;
  }
  
  .actividades{
      flex-direction: column;
  }

  .actividades .actividad{
      width: 100%;
  }

  #usuario{
      display: none;
  }

  .heroSection .heroContent .heroButtons{
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .heroSection .heroContent .heroButtons button{
    background-color: transparent;
    border: 1px solid #f17e5d;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    height: 75px;
    font-size: 1rem;

    transition: .2s;

  }

  .heroSection .heroContent .heroButtons button:hover{
    background-color: rgb(243, 243, 243);
  }

  #inscripcionesButton{
    background-color: #f17e5d;
    color: white;
    transition: .2s;
  }

  #inscripcionesButton:hover{
    background-color: #00b6a1;
    color: white;
  }

  .heroSection .heroContent .heroButtons button img{
    height: 100%;
  }

  .heroSection .heroImage img{
    transition: .2s;
  }

  .heroSection .heroImage:hover img{
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
  }

  .howToSection{
    padding: 20px;
    box-sizing: border-box;
  }

  .howToSectionContent{
    margin-bottom: 20px;
  }
  
  .howToSection h2{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
  }

  .howToActividad{
    position: relative;
    background-color: white;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
  }

  .howToActividad2{
    gap: 10px;
  }

  .howToActividad h3{
    margin: 0;
  }

  .howToText{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
  }

  .howToText b{
    color: #41c9b9;
  }

  .howToText a{
    color: #41c9b9;
    font-weight: bolder;
  }

  .howToActividad .cursor{
    position: absolute;
    width: 30px;
    bottom: -10px;
    right: 30px;
  }

  .howToActividad .textImage{
    position: absolute;
    width: 30px;
    bottom: 20px;
    left: 30px;
  }

  .howToActividad .image{
    width: 100%;
    height: 80%;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;

    animation: ghostAnimation 2s ease-in-out infinite;

  }

  .howToActividad .info{
    width: 100%;
    height: 20%;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
    animation: ghostAnimation 2s ease-in-out infinite;
  }

  .howToSectionContent p{
    text-wrap: pretty;
    font-size: 1rem;
  }

  .howToSectionContent .orderNumber{
    font-weight: bold;
    font-size: 4rem;
    color: #f17e5d;
  }

  .message{
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    gap: 15px;
  }

  .message:hover::after{
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    left: -8px;
    filter: blur(10px);
    top: -8px;
  }

  .message::after{
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    z-index: -1;
    border-radius: 5px;
    background-image: linear-gradient(to top right, #ffd9cf , #ff5f32);
    transition: .2s;
  }

  .messageImg{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid rgb(214, 214, 214);
  }

  .message .messageImg img{
    width: 120%;
    
  }

  .message .messageText{
    width: 70%;
  }

  .message .notRead{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 187, 0);
    border-radius: 100%;
  }

  .message .notRead::before{
    content: "1";
    font-size: 0.5rem;
    color: white;
  }

  .message .messageText h3{
    margin: 0;
  }

  .message .messageText p{
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .howToSection{
    position: relative;
    overflow: hidden;
  }

  .howToSection .absoluteObject{
    position: absolute;
    opacity: 0.3;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    bottom: -100px;
    right: -100px;
    background-color: #ff5f32;
    filter: blur(200px);
    z-index: -1;
    opacity: 0;
  }


}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px)  { 

}
@media (min-width:600px)  { 

  .main{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-inline: 1px solid rgb(214, 214, 214);
    margin: 0 auto;
  }


}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  { 



  .main aside{
      display: block;
  }

  .content{
      width: 100%;
  }

  .content h1{
      font-size: 3rem;
      text-align: left;
      margin-bottom: 20px;
  }
  
  .actividades{
      flex-direction: row;
  }

  .actividades .actividad{
      width: 100%;
  }

  .heroSection .heroContent{
    width: 50%;
  }

  .heroSection .heroImage{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;

  }

  .heroSection .heroContent .heroButtons{
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .heroSection .heroContent .heroButtons button{
    background-color: transparent;
    border: 1px solid #f17e5d;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    height: 75px;
    font-size: 1rem;

    transition: .2s;

  }

  .heroSection .heroContent .heroButtons button:hover{
    background-color: rgb(243, 243, 243);
  }

  #inscripcionesButton{
    background-color: #f17e5d;
    color: white;
    transition: .2s;
  }

  #inscripcionesButton:hover{
    background-color: #00b6a1;
    color: white;
  }

  .heroSection .heroContent .heroButtons button img{
    height: 100%;
  }

  .heroSection .heroImage img{
    transition: .2s;
  }

  .heroSection .heroImage:hover img{
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
  }

  .howToSectionContent{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
  }

  .howToSectionContent .howToText{
    width: 50%;
  }
  
  .howToSectionContent .howToText p{

    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    font-size: 1.3rem;

  }

  .howToSectionContent .howToActividad{
    width: 50%;
  }

  .message{
    width: 50%;
  }

  .absoluteObject{
    animation: ghostAnimation 10s ease-in-out infinite;
  }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }