@keyframes fadeIn {
    0%{
        opacity: 0.25;
    }50%{
        opacity: 0.75;
    }100%{
        opacity: 0.25;
    }
}


.main{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    border-inline: 1px solid rgb(214, 214, 214);
    min-height: calc(100vh - 100px);
}

.container{
    display: flex;
    gap: 20px;
    padding-inline: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.img{
    width: 50%;
}

.img img{
    width: 100%;
    border-radius: 10px;
}

.info{
    width: 50%;
}

.info h1{
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 5px;
}

.form{
    padding: 20px;
    box-sizing: border-box;
}

.form input{
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-brand-color);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-block: 20px;

    transition: .2s;
}

.form button:hover{
    opacity: 0.8;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.formulario label{
    font-size: 1.2rem;
    font-weight: bold;
}

.formulario input{
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.formulario .inputContainer{
    display: flex;
    flex-direction: column;
}

.formulario button{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    background-color: var(--primary-brand-color);
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;

    transition: .2s;
}

.formulario button:hover{
    opacity: 0.8;
}

.ghostImg{
    width: 50%;
    height: 300px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
}

.ghostTitle{
    width: 100%;
    height: 50px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
    margin-bottom: 30px;
}

.ghostText{
    width: 100%;
    height: 50px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 10px;
    animation: fadeIn 1s infinite;
}

.ghostForm{
    width: 100%;
    height: 300px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
}

.creatorSection{
    margin: 20px;
}

.creatorSection input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.creatorSection select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.creatorSection button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    font-weight: bold;
}

.creatorSection button:hover{
    background-color: rgb(221, 221, 221);
}

.title{
    font-size: 2.2rem;
    margin: 0;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  { 


    .main{
        width: 100%;
    }

    .container{
        flex-direction: column;
    }

    .img{
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .info{
        width: 100%;
    }

  }
  @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
  @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  @media (min-width:801px)  {
    
    .main{
        width: 70%;
    }

    .container{
        flex-direction: row;
    }

    .img{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .info{
        width: 50%;
    }

  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }