@keyframes fadeIn {
    0%{
        opacity: 0.25;
    }50%{
        opacity: 0.75;
    }100%{
        opacity: 0.25;
    }
}


.main{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    border-inline: 1px solid rgb(214, 214, 214);
    min-height: calc(100vh - 100px);
}

.container{
    display: flex;
    gap: 20px;
    padding-inline: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.img{
    width: 50%;
}

.img img{
    width: 100%;
    border-radius: 10px;
}

.info{
    width: 50%;
}

.info h1{
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 5px;
}

.form{
    padding: 20px;
    box-sizing: border-box;
}

.form input{
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-brand-color);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-block: 20px;

    transition: .2s;
}

.form button:hover{
    opacity: 0.8;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.formulario label{
    font-size: 1.2rem;
    font-weight: bold;
}

.formulario input{
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.formulario .inputContainer{
    display: flex;
    flex-direction: column;
}

.formulario button{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    background-color: var(--primary-brand-color);
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;

    transition: .2s;
}

.formulario button:hover{
    opacity: 0.8;
}

.ghostImg{
    width: 50%;
    height: 300px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
}

.ghostTitle{
    width: 100%;
    height: 50px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
    margin-bottom: 30px;
}

.ghostText{
    width: 100%;
    height: 50px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 10px;
    animation: fadeIn 1s infinite;
}

.ghostForm{
    width: 100%;
    height: 300px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    animation: fadeIn 1s infinite;
}

.creatorSection{
    margin: 20px;
}

.creatorSection input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.creatorSection select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
}

.creatorSection button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    font-weight: bold;
}

.creatorSection button:hover{
    background-color: rgb(221, 221, 221);
}

.title{
    font-size: 2.2rem;
    margin: 0;
}

.excelContainer{
    padding: 20px;
}

.excel{
    position: relative;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #43c37c;
    color: white;
    border: 1px solid #136d3b;
    cursor: pointer;
    padding: 10px;

    transition: 0.2s;

}

.excel:hover{
    background-color: #1e7145;
    border: 1px solid black;
}

.excel:hover::before{
    filter: blur(20px);
} 

.excel::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ff73;
    z-index: -1;
    filter: blur(0);
    transition: 0.2s;

}


.borrar{
    position: relative;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

.borrar:hover{
    background-color: red;
    border-color: red !important;
    outline: 1px solid red !important;
}

.borrar:hover::before{
    filter: blur(10px);
}

.borrar::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: red;
    z-index: -1;
    filter: blur(0);
    transition: 0.2s;

}

.buttonSection{
    display: flex;
    padding: 20px;
    width: 100%;
    padding-top: 0;
    height: 60px;
    box-sizing: border-box;
}

.buttonSection button{
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(214, 214, 214);

    transition: .2s;

}

.buttonSection button:hover{
    border-color: black;
}

.buttonSection .backButton{
    
    cursor: pointer;
    width: 60px;
    transition: .2s;

}

.buttonSection .backButton:hover{
    background-color: rgb(236, 236, 236);
    width: 70px;
}

.link{
    padding: 8px !important; 
}

.link:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer
}

.buttonSection button img{
    height: 100%;
}

.rightButtonContainer{
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.stats{
    margin: 20px;
    width: calc(100% - 40px);
    border: 1px solid #ffbeac;
    outline: 1px solid #ffbeac;
    color: white;
    background-image: linear-gradient(to right bottom, #ffac95, #ff3700);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.stats h2{
    margin: 0;
    width: 50%;
    text-align: center;
}

.stats span{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 50%;
}

.radioOptions{
    display: flex;
    align-items: center;
}

.radioOptions p{
    min-width: 10%;
    text-align: center;
}

.radioOptions input{
    margin: 0;
    width: auto;
    margin-left: 20px;
    text-align: left;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  { 


    .main{
        width: 100%;
    }

    .container{
        flex-direction: column;
    }

    .img{
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .info{
        width: 100%;
    }

  }
  @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
  @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  @media (min-width:801px)  {
    
    .main{
        width: 70%;
    }

    .container{
        flex-direction: row;
    }

    .img{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .info{
        width: 50%;
    }

  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }