@keyframes ghostAnimation {
    0% {
        opacity: 0.2;
    } 50% {
        opacity: 0.5;
    } 100% {
        opacity: 0.2;
    }
}


/* ASIDE */

.aside{
    width: var(--asideBoxWidth);
    height: calc(100dvh - 100px);
    border-right: 1px solid rgb(214, 214, 214);
    background-color: white;
}

.asideBox{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
    list-style: none;
}

.asideBox:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    
}

.aside details{
    width: 100%;
}

.aside details a{

    margin-top: 10px;

    border: 1px solid rgb(214, 214, 214);

    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    
}

.aside details > summary {
    list-style: none;
}

.aside details > summary::-webkit-details-marker {
    display: none;
}

/* MAIN CONTENIDO */

.main{
    display: flex;
}

/* CONTENIDO */

.content{
    padding: 20px;
    width: calc(100dvw - var(--asideBoxWidth));
    box-sizing: border-box;
}


/* ACTIVIDADES */

.actividades{
    display: flex;
    width: 100%;
    gap: 20px;
}

.actividades .actividad{
    width: 25%;
    max-height: 300px;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
}

.actividades .actividad h3{
    margin: 0;
}

.actividades .actividad p{
    margin: 0;
}

.actividades .actividad .imageContainer{
    height: 60%;
    overflow: hidden;
    object-fit: contain;
    border-radius: 5px;
}

.actividades .actividad .imageContainer img{
    border-radius: 5px;
    width: 100%;
}

.actividades .actividad .info{
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;

    transition: .2s;

    flex-direction: column;
}

.actividades .actividad .info:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.actividades .actividad .ghostImagen{
    width: 100%;
    height: 70%;
}

.actividades .actividad .info .ghostTitle{
    width: 100%;
    height: 30%;
}

.actividades .actividad .info .ghostText{
    width: 100%;
    height: 70%;
}

.ghostImagen, .ghostText, .ghostTitle{
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    animation: ghostAnimation 2s ease-in-out infinite;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  { 
    .main aside{
        display: none;
    }

    .content{
        width: 100%;
    }

    .content h1{
        font-size: 2rem;
        text-align: center;
    }
    
    .actividades{
        flex-direction: column;
    }

    .actividades .actividad{
        width: 100%;
    }

    #usuario{
        display: none;
    }

}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px)  { 

 }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  { 
    .main aside{
        display: block;
    }

    .content{
        width: 100%;
    }

    .content h1{
        font-size: 3rem;
        margin: 0;
        text-align: left;
    }
    
    .actividades{
        flex-direction: row;
    }

    .actividades .actividad{
        width: 25%;
    }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }